<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/contratacionesabiertas/static/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css' />
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/style_d3bubble.css' />
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" href="/contratacionesabiertas/static/stylesheets/dashboard.css">
    <link rel="import" href="<%= process.env.CDN_URL %>/bower_components/polymer/polymer.html">
    <link rel="import" href="/contratacionesabiertas/static/inai-navbar/dgm-navbar.html">
    <link rel="import" href="/contratacionesabiertas/static/inai-footer/dgm-footer.html">
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster-follower/dist/css/tooltipster-follower.min.css" />
	
	<style no-shim>        
        .navbar-default   { background-color: #FFFFFF; border: none; top: 158.5px; }
        
        .menuTopBar{
            text-align: center;
            background-color: #0094A4;
            position: fixed;
            z-index: 4;
            top: 106.5px;
            max-width: none;
            width: 100%;
            padding: 0 10% 0;
        }
        .menuTopBar a{
            height: 52px;
            text-decoration: none;
            font-size: 15px;
            vertical-align: middle;
            color: #FFFFFF;
        }
        .menuTopBar .botonMenuTop:hover{
            background-color: #05777C;
        }
        .menuTopBar .botonMenuTop{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #0094A4;
            color: #ffffff;
        }
        @media (max-width: 991px) {
            body {
                margin: 150px 0 0;
            }
            .menuTopBarS{
                padding: 0 0 0;
                background-color: black;
            }
        }
    </style>

    <title>EDCA-MX</title>
</head>

<body>
    <dgm-navbar></dgm-navbar>
    
    <div class="menuTopBar menuTopBarS">
        <div class="col-xs-3" style="padding: 0 0 0;">
            <a href="/contratacionesabiertas/contratos/" class="botonMenuTop">Inicio</a>
        </div>
        <div class="col-xs-3" style="padding: 0 0 0;">
            <a href="/contratacionesabiertas/politicadepublicacion" class="botonMenuTop">Política de publicación</a>
        </div>
        <div class="col-xs-3" style="padding: 0 0 0;">
            <a href="/contratacionesabiertas/implementa" class="botonMenuTop" style="background-color: #05777C">Implementa el EDCA-MX</a>
        </div>
        <div class="col-xs-3" style="padding: 0 0 0;">
            <a href="/contratacionesabiertas/datosabiertos" class="botonMenuTop">Datos abiertos</a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">              
    	<div class="container">   
        	<ul class="breadcrumb">
            	<li><a href="/contratacionesabiertas/"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="/contratacionesabiertas/contratos/">Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales</a></li>
                <li><a href="#">Implementa</a></li>
           	</ul>
        </div>               
     </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 post">             
                
                <div ng-bind-html="content" class="content ng-binding">
                    <h1></h1>
                    <div class="container">
                        <div class="col-xs-2" style="text-align: center">
                            <img src="/contratacionesabiertas/static/images/6.png" style="width: 300px;">
                        </div>
                        <div class="col-xs-10">
                        	<h4><strong>Implementación de Contrataciones Abiertas</strong></h4>
			                <br>
			                <ul type="disc">
                                <li>
                                    Expresar la
                                    <strong>Manifestación de interés:</strong> Escrito libre en
                                    el cual se formalice el interés de adherirse a la
                                    iniciativa. Documento dirigido al organismo garante
                                    correspondiente a nivel federal o estatal, según sea el
                                    caso.
                                  </li>
                                  <li>
                                    Publicar el
                                    <strong>Compromiso de publicación:</strong> Instrumento en
                                    donde se determina el alcance de la implementación de la
                                    iniciativa para conocer qué contenidos se van a publicar, el
                                    periodo que abarca la información y la periodicidad de
                                    actualización de la misma.
                                  </li>
                                  <li>
                                    Elaborar el <strong>Mapeo de datos:</strong> Permite
                                    identificar dónde se encuentra almacenada la información
                                    dentro de los sistemas de origen y relacionar los datos con
                                    el EDCA.
                                  </li>
                                  <li>
                                    Publicar la <strong>Política de publicación:</strong> Guía
                                    acerca de qué se va a publicar, a través de qué medios y en
                                    qué momento, así como las reglas para su acceso, uso y
                                    reutilización.
                                  </li>
                                  <li>
                                    Definir la <strong>Herramienta tecnológica</strong> a
                                    utilizar para publicar la información: En caso de utilizar
                                    la herramienta de Contrataciones Abiertas del INAI, podrán
                                    registrar la información a través de formularios sencillos.
                                    En caso de contar con sistemas propios, se podrá exportar y
                                    publicar la información de acuerdo con el EDCA.
                                  </li>
                                  <li>
                                    <strong>Capturar y validar información:</strong> Una vez
                                    registrada la información, se lleva a cabo un proceso de
                                    validación por parte del organismo garante correspondiente,
                                    con apoyo de OCP, para verificar que se cuente con una
                                    implementación exitosa del estándar.
                                  </li>
                                  <li>
                                    Firma de <strong>convenio de colaboración</strong> y evento
                                    de presentación (Opcional).
                                  </li>
                                  <li>
                                    Promover la instalación y participar en la
                                    <strong>Red Estatal de Datos Abiertos</strong>, cuya
                                    coordinación estará a cargo de los organismos garantes
                                    locales.
                                  </li>
				            </ul>
                        </div>
                    </div>
                </div> 
                
                <div ng-bind-html="content" class="content ng-binding">
                    <h1></h1>
                    <div class="container">
                    	<div class="col-xs-3">
                            <img src="/contratacionesabiertas/static/images/7.png" style="height: 100px; width: 100px;" align="right">
                        </div>
                        <div class="col-xs-3" align: "left">
                            <p>¿Tienes preguntas? Contáctanos a <em>contratacionesabiertas@inai.org.mx</em></p>
                        </div>
                        <div class="col-xs-2">
                        	<img src="/contratacionesabiertas/static/images/8.png" style="height: 100px; width: 100px;" align="right">             	
                        </div>
                        <div class="col-xs-3" align="left">
                            <p>
                                Para más información consulta:
                                <a href="https://micrositios.inai.org.mx/contratacionesabiertas/" target="_blank">
                                    <em>Contrataciones Abiertas</em>
                                </a>
                            </p>
                        </div>

                    </div>
                </div>             
            </div>
        </div>
    </div>
	<br>
	<br>

    <dgm-footer></dgm-footer>
    <script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= process.env.CDN_URL %>/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</body>

</html>