<form id="frmImport" enctype="multipart/form-data">
    <div class="import-container">
        <label>Seleccione el(los) archivo(s) JSON a cargar</label>
        <input type="file" name="files[]" class="form-control" required accept="application/json" multiple />
        <br />
        <button class="btn btn-primary">Importar</button>
    </div>
    <h3 class="text-center hidden"><span class="fa fa-refresh fa-spin"></span></h3>
</form>
